In [16]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf

In [21]:
check = '''sleep totwrk age male hrwage
3113   3438  32   1    7.07 
2920   5020  31   1    1.43 
2670   2815  44   1   20.53 
3083   3786  30   0    9.62 
3448   2580  64   1    2.75 
4063   1205  41   1   19.25 '''

In [23]:
df = pd.read_csv(io.StringIO(check), sep='\s+')
df

   sleep  totwrk  age  male  hrwage
0   3113    3438   32     1    7.07
1   2920    5020   31     1    1.43
2   2670    2815   44     1   20.53
3   3083    3786   30     0    9.62
4   3448    2580   64     1    2.75
5   4063    1205   41     1   19.25

In [28]:
df['y_pred'] = 3525.14 + df['totwrk'] * (-0.16) + df['age'] * (1.62) + df['male']*(51.84)+np.log(df['hrwage'])*(-9.88)
df

   sleep  totwrk  age  male  hrwage       y_pred
0   3113    3438   32     1    7.07  3059.416098
1   2920    5020   31     1    1.43  2820.466176
2   2670    2815   44     1   20.53  3168.003754
3   3083    3786   30     0    9.62  2945.613219
4   3448    2580   64     1    2.75  3257.865383
5   4063    1205   41     1   19.25  3421.379791

In [29]:
df['residual'] = df['sleep']-df['y_pred']
df

   sleep  totwrk  age  male  hrwage       y_pred    residual
0   3113    3438   32     1    7.07  3059.416098   53.583902
1   2920    5020   31     1    1.43  2820.466176   99.533824
2   2670    2815   44     1   20.53  3168.003754 -498.003754
3   3083    3786   30     0    9.62  2945.613219  137.386781
4   3448    2580   64     1    2.75  3257.865383  190.134617
5   4063    1205   41     1   19.25  3421.379791  641.620209

In [30]:
lab = '''output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46  '''

In [39]:
df = pd.read_csv(io.StringIO(lab), sep='\s+')
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [40]:
df['y_pred'] = -1.71 + np.log(df['capital'])*(0.21) + np.log(df['labour'])*(0.71)
df

   output  capital  labour    y_pred
0    9.25     2.61     184  2.194068
1    3.66     1.32      91  1.551013
2   28.78    22.09     426  3.238628
3    4.12    10.74      72  1.824968
4    2.89     1.16      46  1.039504

In [46]:
df['residual'] = np.log(df['output'])-df['y_pred']
df

   output  capital  labour    y_pred  residual
0    9.25     2.61     184  2.194068  0.030556
1    3.66     1.32      91  1.551013 -0.253550
2   28.78    22.09     426  3.238628  0.121053
3    4.12    10.74      72  1.824968 -0.409115
4    2.89     1.16      46  1.039504  0.021753

In [42]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [53]:
R2 = 47.56/100.35
R2

0.47394120577977084

In [55]:
RSS = 100.35-47.56
RSS

52.78999999999999

In [56]:
ESS = 240.82 - 93.52
ESS

147.3

$$
RSS_adj = 1 - (RSS/TSS)*\frac{(n-1)}{(n-k)}
$$

In [60]:
n = 526
k = 5
R2 = 0.288

In [62]:
R2adj = 1 - (1-R2)*(n-1)/(n-k)
round(R2adj,3)

0.283

In [63]:
n = 935
k = 7
R2 = 0.201
R2adj = 1 - (1-R2)*(n-1)/(n-k)
round(R2adj,3)

0.196

In [64]:
better_check = '''i   Факт  Fitted  Остаток 
1   3113 3094.454  18.546 
4   3083 2943.580 139.420 
6   4063 3494.143 568.857 
10  3018 3111.983 -93.983 
508 3630 3476.914 153.086 
700 2993 3295.398 -302.398'''

In [65]:
op = pd.read_csv(io.StringIO(better_check), sep='\s+')

In [84]:
op

     i  Факт    Fitted  Остаток
0    1  3113  3094.454   18.546
1    4  3083  2943.580  139.420
2    6  4063  3494.143  568.857
3   10  3018  3111.983  -93.983
4  508  3630  3476.914  153.086
5  700  2993  3295.398 -302.398

In [89]:
TSS = np.sum((op['Факт']-op['Факт'].mean())**2)
TSS

945233.3333333334

In [95]:
ESS = np.sum((op['Fitted']-op['Факт'].mean())**2)
ESS

288096.9463873332

In [101]:
RSS = np.sum((op['Факт']-op['Fitted'])**2)
RSS

467092.85505400004

In [102]:
R2 = ESS/TSS
R2

0.30478923692985843

In [105]:
n = 700
k = 4
R2adj = 1 - (1-R2)*(n-1)/(n-k)
R2adj

0.30179263881317675

In [107]:
SER = np.sqrt(RSS)
SER

683.4419178350125