# 1.2.4  Задача

In [4]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf

In [17]:
aa = '''остаток 
-0.24  
0.41  
1.22 
-0.93 
-0.37 
-1.33  
0.16 
-0.27  
0.06  
1.29'''
df = pd.read_csv(io.StringIO(aa), sep='\s+')
df

   остаток
0    -0.24
1     0.41
2     1.22
3    -0.93
4    -0.37
5    -1.33
6     0.16
7    -0.27
8     0.06
9     1.29

In [32]:
RSS = np.sum((df)**2)
round (RSS, 2)

остаток    6.25
dtype: float64

In [37]:
s = (RSS/(10-2))**0.5
round (s, 2)

остаток    0.88
dtype: float64

# 1.2.5 Задача

In [43]:
qq = '''sleep/60 totwrk age y.hat
51.88     3438  32  51.00
48.67     5020  31  44.43
44.50     2815  44  53.72
51.38     3786  30  49.53
57.47     2580  64  54.92
67.72     1205  41  60.36
53        2113  35  56.53
48.80     3608  47  50.46
56.13     2353  32  55.50
50.30     2851  30  53.41'''
df = pd.read_csv(io.StringIO(qq), sep='\s+')
df

   sleep/60  totwrk  age  y.hat
0     51.88    3438   32  51.00
1     48.67    5020   31  44.43
2     44.50    2815   44  53.72
3     51.38    3786   30  49.53
4     57.47    2580   64  54.92
5     67.72    1205   41  60.36
6     53.00    2113   35  56.53
7     48.80    3608   47  50.46
8     56.13    2353   32  55.50
9     50.30    2851   30  53.41

In [44]:
TSS = ((df['sleep/60'] - np.mean(df['sleep/60']))**2).sum()
TSS.round(2)

366.26

In [51]:
RSS = ((df['sleep/60'] - df['y.hat'])**2).sum()
RSS.round(2)

193.14

In [53]:
ESS = TSS-RSS
ESS.round(2)

173.12

# 1.2.6 Задача

In [55]:
xx = '''log(output) log(capital) log(labour) y.hat
2.22            0.96        5.21     2.19 
1.30            0.28        4.51     1.47 
3.36            3.10        6.05     3.23 
1.42            2.37        4.28     1.56 
1.06            0.15        3.83     0.85 
6.17            5.62        8.94     6.15 
0.77            0.52        3.87     0.94 
1.42            0.15        4.68     1.61 
0.90           -0.13        3.56     0.57 
1.35            1.25        4.28     1.40 '''
df = pd.read_csv(io.StringIO(xx), sep='\s+')
df

   log(output)  log(capital)  log(labour)  y.hat
0         2.22          0.96         5.21   2.19
1         1.30          0.28         4.51   1.47
2         3.36          3.10         6.05   3.23
3         1.42          2.37         4.28   1.56
4         1.06          0.15         3.83   0.85
5         6.17          5.62         8.94   6.15
6         0.77          0.52         3.87   0.94
7         1.42          0.15         4.68   1.61
8         0.90         -0.13         3.56   0.57
9         1.35          1.25         4.28   1.40

In [56]:
TSS = ((df['log(output)'] - np.mean(df['log(output)']))**2).sum()
TSS.round(2)

24.48

In [57]:
RSS = ((df['log(output)'] - df['y.hat'])**2).sum()
RSS.round(2)

0.29

In [58]:
ESS = TSS-RSS
ESS.round(2)

24.19

# 1.2.7 Задача

In [277]:
RSE = 0.378
n = 935
m = 6
RSS = RSE**2*(n-m)
round(RSS, 3)

132.739

# 1.2.8 Задача

In [69]:
RSE = 0.383
R2 = 0.178
n = 935
m = 5
RSS = RSE**2*(n-m)
TSS = RSS/(1-R2)
round(TSS, 3)

165.962

# 1.2.9 Задача

In [70]:
RSE = 0.389
R2 = 0.149
n = 935
m = 4
RSS = RSE**2*(n-m)
TSS = RSS/(1-R2)
ESS = TSS - RSS
round(ESS, 3)

24.666

# 2.3 Задача

In [284]:
xx = '''sleep/60 totwrk age y.hat
51.88     3438  32  51.00
48.67     5020  31  44.43
44.50     2815  44  53.72
51.38     3786  30  49.53
57.47     2580  64  54.92
67.72     1205  41  60.36
53        2113  35  56.53
48.80     3608  47  50.46
56.13     2353  32  55.50
50.30     2851  30  53.41 '''
df = pd.read_csv(io.StringIO(xx), sep='\s+')
df

   sleep/60  totwrk  age  y.hat
0     51.88    3438   32  51.00
1     48.67    5020   31  44.43
2     44.50    2815   44  53.72
3     51.38    3786   30  49.53
4     57.47    2580   64  54.92
5     67.72    1205   41  60.36
6     53.00    2113   35  56.53
7     48.80    3608   47  50.46
8     56.13    2353   32  55.50
9     50.30    2851   30  53.41

In [285]:
TSS = ((df['sleep/60'] - np.mean(df['sleep/60']))**2).sum()
ESS = ((df['y.hat']- np.mean(df['sleep/60']))**2).sum()
R2 = ESS/TSS
R2.round(2)

0.47

In [286]:
RSS = TSS - ESS
n = len(df)
k = 3
RSS_adj = 1 - (RSS/TSS)*((n-1)/(n-k))
RSS_adj.round(2)

0.32

# 2.4 Задача

In [70]:
qq = '''log(output) log(capital) log(labour) y.hat
2.22            0.96        5.21     2.19 
1.30            0.28        4.51     1.47 
3.36            3.10        6.05     3.23 
1.42            2.37        4.28     1.56 
1.06            0.15        3.83     0.85 
6.17            5.62        8.94     6.15 
0.77            0.52        3.87     0.94 
1.42            0.15        4.68     1.61 
0.90           -0.13        3.56     0.57 
1.35            1.25        4.28     1.40 '''
df = pd.read_csv(io.StringIO(qq), sep='\s+')
df

   log(output)  log(capital)  log(labour)  y.hat
0         2.22          0.96         5.21   2.19
1         1.30          0.28         4.51   1.47
2         3.36          3.10         6.05   3.23
3         1.42          2.37         4.28   1.56
4         1.06          0.15         3.83   0.85
5         6.17          5.62         8.94   6.15
6         0.77          0.52         3.87   0.94
7         1.42          0.15         4.68   1.61
8         0.90         -0.13         3.56   0.57
9         1.35          1.25         4.28   1.40

In [71]:
TSS = ((df['log(output)'] - np.mean(df['log(output)']))**2).sum()
ESS = ((df['y.hat']- np.mean(df['log(output)']))**2).sum()
R2 = ESS/TSS
R2.round(2)

0.99

In [72]:
RSS = TSS - ESS
n = len(df)
k = 2
RSS_adj = 1 - (RSS/TSS)*((n-1)/(n-k))
RSS_adj.round(2)

0.99

# 3.2 Sleep equation (smsa only)

In [119]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [232]:
df = pd.read_csv('https://github.com/artamonoff/Econometrica/raw/master/python-notebooks/data-csv/sleep75.csv')
sleep_eq = smf.ols(formula='sleep~totwrk+age+male+south', data=df[df['smsa']==1]).fit()
sleep_eq.params.round(2)

Intercept    3460.43
totwrk         -0.18
age             2.28
male           92.65
south         168.85
dtype: float64

In [233]:
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [234]:
df_smsa = df[df['smsa']==1]
df_smsa

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
7,47,0,8,0.000000,0.000000,13,0,1,1,3544,...,0,3608,0,3608,0,28,0,24,15.010007,2209
9,30,0,10,0.000000,0.000000,15,11750,1,1,4211,...,1,2851,0,2851,0,9,0,7,2.959999,900
11,23,0,12,0.000000,0.000000,16,1000,1,1,6415,...,1,370,0,370,0,1,0,4,1.230000,529
12,24,0,13,0.000000,0.000000,16,1000,1,1,3844,...,1,2438,0,2438,0,2,0,4,1.230000,576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,31,0,690,0.182331,0.030075,12,10500,1,0,4639,...,0,2373,0,2373,0,13,0,0,NaN,961
693,25,1,694,0.182331,0.030075,12,3500,1,0,5530,...,0,1510,1,1510,0,7,1,0,NaN,625
697,47,0,698,0.182331,0.030075,10,9500,1,0,5882,...,0,1183,1,1183,0,31,0,28,NaN,2209
700,32,0,701,0.182331,0.030075,16,10500,1,0,4707,...,0,2388,0,2388,0,10,0,0,NaN,1024
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025

In [235]:
ind = np.array([1, 9, 56, 76, 100])-1
df_smsa['sleep'].iloc[ind]

2      2670
19     3090
149    2985
194    3660
259    2618
Name: sleep, dtype: int64

In [203]:
sleep_eq.fittedvalues.iloc[ind].round(3)

2      3132.491
19     3370.083
149    2835.360
194    3248.540
259    2863.070
dtype: float64

In [204]:
sleep_eq.resid.iloc[ind].round(3)

2     -462.491
19    -280.083
149    149.640
194    411.460
259   -245.070
dtype: float64

In [205]:
sleep_eq.centered_tss

50055043.404255316

In [206]:
sleep_eq.ess

7396259.393412963

In [207]:
sleep_eq.ssr

42658784.01084235

In [208]:
sleep_eq.rsquared

0.14776252082490826

In [209]:
sleep_eq.rsquared_adj

0.13545584242526798

In [236]:
RSS = sleep_eq.ssr
n = len(df_smsa)
k = 5
s = (RSS/(n-k))**0.5
round (s, 2)

392.43

# 3.3 Sleep equation (men only)

In [240]:
df = pd.read_csv('https://github.com/artamonoff/Econometrica/raw/master/python-notebooks/data-csv/sleep75.csv')
sleep_eq = smf.ols(formula='sleep~totwrk+age+smsa+south', data=df[df['male']==1]).fit()
sleep_eq.params.round(2)

Intercept    3600.96
totwrk         -0.19
age             3.30
smsa          -77.69
south          60.11
dtype: float64

In [241]:
df_smsa = df[df['male']==1]
ind = np.array([1, 9, 45, 187, 280])-1
df_smsa['sleep'].iloc[ind]

0      3113
9      3018
48     3363
262    3390
440    2955
Name: sleep, dtype: int64

In [242]:
sleep_eq.fittedvalues.iloc[ind].round(3)

0      3061.481
9      3087.341
48     3268.521
262    3228.976
440    3399.060
dtype: float64

In [243]:
sleep_eq.resid.iloc[ind].round(3)

0       51.519
9      -69.341
48      94.479
262    161.024
440   -444.060
dtype: float64

In [244]:
sleep_eq.centered_tss

75570140.57750002

In [245]:
sleep_eq.ess

12125135.597865172

In [246]:
sleep_eq.ssr

63445004.979634844

In [247]:
sleep_eq.rsquared

0.16044876329732893

In [248]:
sleep_eq.rsquared_adj

0.1519469786218588

In [249]:
RSS = sleep_eq.ssr
n = len(df_smsa)
k = 5
s = (RSS/(n-k))**0.5
round (s, 2)

400.77

# 3.4 Sleep equation (women only)

In [250]:
sleep_eq = smf.ols(formula='sleep~totwrk+age+smsa+south', data=df[df['male']==0]).fit()
sleep_eq.params.round(2)

Intercept    3468.20
totwrk         -0.15
age             1.65
smsa          -37.69
south         136.03
dtype: float64

In [251]:
df_smsa = df[df['male']==0]
ind = np.array([1, 9, 45, 187, 280])-1
df_smsa['sleep'].iloc[ind]

3      3083
67     2858
198    3730
472    3376
628    3405
Name: sleep, dtype: int64

In [253]:
sleep_eq.fittedvalues.iloc[ind].round(3)

3      2945.903
67     2920.662
198    3328.629
472    3503.722
628    3215.073
dtype: float64

In [254]:
sleep_eq.resid.iloc[ind].round(3)

3      137.097
67     -62.662
198    401.371
472   -127.722
628    189.927
dtype: float64

In [252]:
sleep_eq.centered_tss

63490152.11764705

In [255]:
sleep_eq.ess

6300990.568985924

In [256]:
sleep_eq.ssr

57189161.54866113

In [257]:
sleep_eq.rsquared

0.09924358910512943

In [258]:
sleep_eq.rsquared_adj

0.087273404242739

In [260]:
RSS = sleep_eq.ssr
n = len(df_smsa)
k = 5
s = (RSS/(n-k))**0.5
round (s, 4)

435.8867

# 3.5 Labour equation (in levels)

In [289]:
df = pd.read_csv('https://github.com/artamonoff/Econometrica/raw/master/python-notebooks/data-csv/Labour.csv')
sleep_eq = smf.ols(formula='output~capital+labour+wage', data=df).fit()
sleep_eq.params.round(2)

Intercept   -16.75
capital       0.40
labour        0.05
wage          0.44
dtype: float64

In [290]:
ind = np.array([2, 11, 24, 101, 349, 501])-1
df['output'].iloc[ind]

1      3.664310
10     3.245624
23     2.666305
100    2.180688
348    4.307089
500    3.659600
Name: output, dtype: float64

In [291]:
sleep_eq.fittedvalues.iloc[ind].round(3)

1       0.457
10      5.666
23     -0.625
100     6.952
348     2.278
500    11.353
dtype: float64

In [292]:
sleep_eq.resid.iloc[ind].round(3)

1      3.207
10    -2.420
23     3.292
100   -4.771
348    2.029
500   -7.694
dtype: float64

In [267]:
sleep_eq.centered_tss

2235073.2947312016

In [268]:
sleep_eq.ess

2190376.0767236855

In [269]:
sleep_eq.ssr

44697.21800751613

In [270]:
sleep_eq.rsquared

0.9800019005583029

In [271]:
sleep_eq.rsquared_adj

0.9798957159594974

In [275]:
RSS = sleep_eq.ssr
n = len(df)
k = 4
s = (RSS/(n-k))**0.5
s

8.894387014701193

# 3.6 Labour equation (in log)

In [295]:
sleep_eq = smf.ols(formula='np.log(output)~np.log(capital)+np.log(labour)+np.log(wage)', data=df).fit()
sleep_eq.params.round(2)

Intercept         -5.01
np.log(capital)    0.15
np.log(labour)     0.72
np.log(wage)       0.92
dtype: float64

In [296]:
ind = np.array([2, 11, 24, 101, 349, 501])-1
np.log(df['output']).iloc[ind]

1      1.298640
10     1.177308
23     0.980694
100    0.779641
348    1.460262
500    1.297354
Name: output, dtype: float64

In [297]:
sleep_eq.fittedvalues.iloc[ind].round(3)

1      1.347
10     1.427
23     0.344
100    1.006
348    1.177
500    1.730
dtype: float64

In [298]:
sleep_eq.resid.iloc[ind].round(3)

1     -0.049
10    -0.250
23     0.637
100   -0.226
348    0.283
500   -0.433
dtype: float64

In [299]:
sleep_eq.centered_tss

797.6674045328446

In [300]:
sleep_eq.ess

708.6473705860927

In [301]:
sleep_eq.ssr

89.02003394675182

In [302]:
sleep_eq.rsquared

0.8883995592136718

In [303]:
sleep_eq.rsquared_adj

0.887806990501532

In [304]:
RSS = sleep_eq.ssr
n = len(df)
k = 4
s = (RSS/(n-k))**0.5
s

0.3969352367913945

# 3.7 Cost equation (in levels)

In [306]:
df = pd.read_csv('https://github.com/artamonoff/Econometrica/raw/master/python-notebooks/data-csv/Electricity.csv')
sleep_eq = smf.ols(formula='cost~q+I(q**2)+pk+pf+pl', data=df).fit()
sleep_eq.params.round(2)

Intercept   -81.36
q             0.00
I(q ** 2)     0.00
pk            0.37
pf            0.95
pl            0.00
dtype: float64

In [309]:
ind = np.array([2, 17, 29, 48, 58, 94])-1
df['cost'].iloc[ind].round(3)

1      3.043
16     5.597
28     7.440
47    28.786
57    41.902
93     9.467
Name: cost, dtype: float64

In [310]:
sleep_eq.fittedvalues.iloc[ind].round(3)

1     -2.512
16     2.747
28    -2.269
47    34.228
57    43.941
93    -4.009
dtype: float64

In [311]:
sleep_eq.resid.iloc[ind].round(3)

1      5.555
16     2.850
28     9.709
47    -5.442
57    -2.040
93    13.477
dtype: float64

In [312]:
sleep_eq.centered_tss

1189954.2094165923

In [313]:
sleep_eq.ess

1143993.9558765874

In [314]:
sleep_eq.ssr

45960.25354000477

In [315]:
sleep_eq.rsquared

0.9613764519875617

In [316]:
sleep_eq.rsquared_adj

0.9601059405397842

In [317]:
RSS = sleep_eq.ssr
n = len(df)
k = 6
s = (RSS/(n-k))**0.5
s

17.388792053474525

# 3.8 Cost equation (in logs)

In [318]:
sleep_eq = smf.ols(formula='np.log(cost)~np.log(q)+I(np.log(q)**2)+np.log(pk)+np.log(pf)+np.log(pl)', data=df).fit()
sleep_eq.params.round(2)

Intercept           -6.74
np.log(q)            0.40
I(np.log(q) ** 2)    0.03
np.log(pk)           0.16
np.log(pf)           0.68
np.log(pl)           0.15
dtype: float64

In [321]:
ind = np.array([2, 17, 29, 48, 58, 94])-1
np.log(df['cost']).iloc[ind].round(3)

1     1.113
16    1.722
28    2.007
47    3.360
57    3.735
93    2.248
Name: cost, dtype: float64

In [322]:
sleep_eq.fittedvalues.iloc[ind].round(3)

1     1.452
16    1.650
28    1.784
47    3.556
57    3.846
93    2.247
dtype: float64

In [323]:
sleep_eq.resid.iloc[ind].round(3)

1    -0.339
16    0.072
28    0.223
47   -0.196
57   -0.111
93    0.001
dtype: float64

In [324]:
sleep_eq.centered_tss

373.66456079161424

In [325]:
sleep_eq.ess

370.7599424877896

In [326]:
sleep_eq.ssr

2.904618303824642

In [327]:
sleep_eq.rsquared

0.9922266690272389

In [328]:
sleep_eq.rsquared_adj

0.9919709673505033

In [329]:
RSS = sleep_eq.ssr
n = len(df)
k = 6
s = (RSS/(n-k))**0.5
s

0.13823650366750004