In [14]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf
import scipy.stats as stats

# 1.1 Задача (sleep equation #1)

In [55]:
date_string = '''Name Estimate Std.Error
(Intercept) 3446.830     81.840
totwrk        -0.169      0.018
age            2.714      1.472
south        102.272     41.925
male          87.108     35.173
smsa         -54.188     33.193
yngkid       -13.051     50.459
marr          31.360     42.263
union         11.866     38.186'''

In [56]:
df = pd.read_csv(io.StringIO(date_string), sep='\s+')
df

          Name  Estimate  Std.Error
0  (Intercept)  3446.830     81.840
1       totwrk    -0.169      0.018
2          age     2.714      1.472
3        south   102.272     41.925
4         male    87.108     35.173
5         smsa   -54.188     33.193
6       yngkid   -13.051     50.459
7         marr    31.360     42.263
8        union    11.866     38.186

In [57]:
df['t_value'] = df['Estimate']/df['Std.Error']
df

          Name  Estimate  Std.Error    t_value
0  (Intercept)  3446.830     81.840  42.116691
1       totwrk    -0.169      0.018  -9.388889
2          age     2.714      1.472   1.843750
3        south   102.272     41.925   2.439404
4         male    87.108     35.173   2.476559
5         smsa   -54.188     33.193  -1.632513
6       yngkid   -13.051     50.459  -0.258646
7         marr    31.360     42.263   0.742020
8        union    11.866     38.186   0.310742

In [58]:
alpha = 0.05
t_crit = stats.t.ppf(1-alpha/2, 706-9)
t_crit

1.9633733475126112

In [59]:
df['znachimost'] = df.apply(lambda x: 'znachimo' if np.abs(x['t_value']) > t_crit else 'ne_znachimo', axis=1 )
df

          Name  Estimate  Std.Error    t_value   znachimost
0  (Intercept)  3446.830     81.840  42.116691     znachimo
1       totwrk    -0.169      0.018  -9.388889     znachimo
2          age     2.714      1.472   1.843750  ne_znachimo
3        south   102.272     41.925   2.439404     znachimo
4         male    87.108     35.173   2.476559     znachimo
5         smsa   -54.188     33.193  -1.632513  ne_znachimo
6       yngkid   -13.051     50.459  -0.258646  ne_znachimo
7         marr    31.360     42.263   0.742020  ne_znachimo
8        union    11.866     38.186   0.310742  ne_znachimo

# 1.2 Задача (sleep equation #2, Python)

In [44]:
date_string = '''Naming Estimate  Std.Error t_value  Pr(>|t|)    
(Intercept) 3431.803558   96.309432 35.6331  <2.2e-16
totwrk        -0.158079    0.020867 -7.5755   1.639e-13
age            2.437082    1.671818  1.4577   0.14551    
south         78.046123   45.287154  1.7234   0.08542 
male          36.485386   43.350193  0.8416   0.40037    
smsa         -34.964643   38.231919 -0.9145   0.36086    
yngkid        50.136466   54.789835  0.9151   0.36058    
marr          54.071604   46.920123  1.1524   0.24968    
union         27.018684   43.044039  0.6277   0.53048    
log(hrwage)   -2.726776   32.202444 -0.0847   0.93255'''
df = pd.read_csv(io.StringIO(date_string), sep='\s+')
df

        Naming     Estimate  Std.Error  t_value   Pr(>|t|)
0  (Intercept)  3431.803558  96.309432  35.6331   <2.2e-16
1       totwrk    -0.158079   0.020867  -7.5755  1.639e-13
2          age     2.437082   1.671818   1.4577    0.14551
3        south    78.046123  45.287154   1.7234    0.08542
4         male    36.485386  43.350193   0.8416    0.40037
5         smsa   -34.964643  38.231919  -0.9145    0.36086
6       yngkid    50.136466  54.789835   0.9151    0.36058
7         marr    54.071604  46.920123   1.1524    0.24968
8        union    27.018684  43.044039   0.6277    0.53048
9  log(hrwage)    -2.726776  32.202444  -0.0847    0.93255

In [45]:
n = 532
alpha = 0.1
k = 9
t_critil = stats.t.ppf(1 - alpha/2, n - k)
t_critil

1.6477723425110435

In [46]:
df['znachimost'] = df.apply(lambda x: 'znachimo' if np.abs(x['t_value']) > t_critil else 'ne_znachimo', axis=1 )
df

        Naming     Estimate  Std.Error  t_value   Pr(>|t|)   znachimost
0  (Intercept)  3431.803558  96.309432  35.6331   <2.2e-16     znachimo
1       totwrk    -0.158079   0.020867  -7.5755  1.639e-13     znachimo
2          age     2.437082   1.671818   1.4577    0.14551  ne_znachimo
3        south    78.046123  45.287154   1.7234    0.08542     znachimo
4         male    36.485386  43.350193   0.8416    0.40037  ne_znachimo
5         smsa   -34.964643  38.231919  -0.9145    0.36086  ne_znachimo
6       yngkid    50.136466  54.789835   0.9151    0.36058  ne_znachimo
7         marr    54.071604  46.920123   1.1524    0.24968  ne_znachimo
8        union    27.018684  43.044039   0.6277    0.53048  ne_znachimo
9  log(hrwage)    -2.726776  32.202444  -0.0847    0.93255  ne_znachimo

# 1.3 Задача (wage equation #1)

In [48]:
date_string = '''Estimate Std.Error
(Intercept)    4.974      0.165
age            0.021      0.004
IQ             0.008      0.001
married        0.201      0.040
south         -0.099      0.027
urban          0.175      0.028'''
df = pd.read_csv(io.StringIO(date_string), sep='\s+')
df

             Estimate  Std.Error
(Intercept)     4.974      0.165
age             0.021      0.004
IQ              0.008      0.001
married         0.201      0.040
south          -0.099      0.027
urban           0.175      0.028

In [50]:
df['t_value'] = round(df['Estimate']/df['Std.Error'], 3)
df

             Estimate  Std.Error  t_value
(Intercept)     4.974      0.165   30.145
age             0.021      0.004    5.250
IQ              0.008      0.001    8.000
married         0.201      0.040    5.025
south          -0.099      0.027   -3.667
urban           0.175      0.028    6.250

# 1.4 Задача (wage equation #1, Python)

In [53]:
date_string = '''Estimate  Std.Error t_value  Pr(>|t|)    
(Intercept)  4.97400041  0.16544459 30.0644 <2.2e-16 
age          0.02125292  0.00400766  5.3031 1.424e-07 
IQ           0.00820145  0.00084111  9.7508 <2.2e-16 
married      0.20097997  0.04024862  4.9935 7.082e-07 
south       -0.09897822  0.02682522 -3.6897 0.0002375 
urban        0.17498055  0.02763721  6.3313 3.779e-10'''
df = pd.read_csv(io.StringIO(date_string), sep='\s+')
df

             Estimate  Std.Error  t_value   Pr(>|t|)
(Intercept)  4.974000   0.165445  30.0644   <2.2e-16
age          0.021253   0.004008   5.3031  1.424e-07
IQ           0.008201   0.000841   9.7508   <2.2e-16
married      0.200980   0.040249   4.9935  7.082e-07
south       -0.098978   0.026825  -3.6897  0.0002375
urban        0.174981   0.027637   6.3313  3.779e-10

In [63]:
n = 935
alpha = 0.01
k = 5
t_critil = stats.t.ppf(1 - alpha/2, n - k)
round(t_critil, 3)

2.581

# 1.5 Задача (wage equation #2)

In [64]:
date_string = '''Estimate Std.Error
(Intercept)    1.250      0.061
exper          0.037      0.006
I(exper^2)    -0.001      0.000
female        -0.363      0.040
married        0.144      0.045
smsa           0.273      0.044'''
df = pd.read_csv(io.StringIO(date_string), sep='\s+')
df

             Estimate  Std.Error
(Intercept)     1.250      0.061
exper           0.037      0.006
I(exper^2)     -0.001      0.000
female         -0.363      0.040
married         0.144      0.045
smsa            0.273      0.044

In [65]:
df['t_value'] = round(df['Estimate']/df['Std.Error'], 3)
df

             Estimate  Std.Error  t_value
(Intercept)     1.250      0.061   20.492
exper           0.037      0.006    6.167
I(exper^2)     -0.001      0.000     -inf
female         -0.363      0.040   -9.075
married         0.144      0.045    3.200
smsa            0.273      0.044    6.205

# 1.6 Задача (wage equation #2, Python)

In [69]:
date_string = '''Estimate  Std.Error t_value  Pr(>|t|)    
(Intercept)  1.25042289  0.06140967 20.3620 <2.2e-16 
exper        0.03687966  0.00569646  6.4741 2.209e-10 
I(exper^2)  -0.00077167  0.00012195 -6.3280 5.366e-10 
female      -0.36273973  0.03974402 -9.1269 <2.2e-16 
married      0.14378405  0.04549137  3.1607  0.001666  
smsa         0.27256198  0.04411563  6.1784 1.308e-09'''
df = pd.read_csv(io.StringIO(date_string), sep='\s+')
df

             Estimate  Std.Error  t_value   Pr(>|t|)
(Intercept)  1.250423   0.061410  20.3620   <2.2e-16
exper        0.036880   0.005696   6.4741  2.209e-10
I(exper^2)  -0.000772   0.000122  -6.3280  5.366e-10
female      -0.362740   0.039744  -9.1269   <2.2e-16
married      0.143784   0.045491   3.1607   0.001666
smsa         0.272562   0.044116   6.1784  1.308e-09

In [70]:
n = 526
alpha = 0.05
k = 5
t_crit = stats.t.ppf(1 - alpha/2, n - k)
round(t_crit, 3)

1.965

# 1.7 Задача (cost equation #1)

In [71]:
date_string = '''Estimate Std.Error
(Intercept)   -7.472      1.063
log(q)         0.838      0.009
log(pl)        0.044      0.106
log(pk)        0.188      0.087
log(pf)        0.713      0.064'''
df = pd.read_csv(io.StringIO(date_string), sep='\s+')
df

             Estimate  Std.Error
(Intercept)    -7.472      1.063
log(q)          0.838      0.009
log(pl)         0.044      0.106
log(pk)         0.188      0.087
log(pf)         0.713      0.064

In [72]:
df['t_value'] = round(df['Estimate']/df['Std.Error'], 3)
df

             Estimate  Std.Error  t_value
(Intercept)    -7.472      1.063   -7.029
log(q)          0.838      0.009   93.111
log(pl)         0.044      0.106    0.415
log(pk)         0.188      0.087    2.161
log(pf)         0.713      0.064   11.141

# 1.8 Задача (cost equation #2, Python)

In [73]:
date_string = '''Estimate Std.Error t_value  Pr(>|t|)    
(Intercept) -7.472227   1.063238 -7.0278 6.491e-11
log(q)       0.838111   0.009387 89.2845 <2.2e-16 
log(pl)      0.044258   0.105820  0.4182   0.67636    
log(pk)      0.188449   0.087067  2.1644   0.03198  
log(pf)      0.713098   0.064355 11.0806 <2.2e-16'''
df = pd.read_csv(io.StringIO(date_string), sep='\s+')
df

             Estimate  Std.Error  t_value   Pr(>|t|)
(Intercept) -7.472227   1.063238  -7.0278  6.491e-11
log(q)       0.838111   0.009387  89.2845   <2.2e-16
log(pl)      0.044258   0.105820   0.4182    0.67636
log(pk)      0.188449   0.087067   2.1644    0.03198
log(pf)      0.713098   0.064355  11.0806   <2.2e-16

In [74]:
n = 158
alpha = 0.01
k = 4
t_crit = stats.t.ppf(1 - alpha/2, n - k)
round(t_crit, 3)

2.608

# 2.1 Задача (output equation 1)

In [81]:
df_lab = pd.read_csv('https://github.com/artamonoff/Econometrica/raw/master/python-notebooks/data-csv/Labour.csv')
df_lab

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [82]:
models = smf.ols(data=df_lab, formula = 'np.log(output)~np.log(capital)+np.log(labour)').fit()
models.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(output)   R-squared:                       0.838
Model:                            OLS   Adj. R-squared:                  0.837
Method:                 Least Squares   F-statistic:                     1462.
Date:                Wed, 22 Mar 2023   Prob (F-statistic):          2.64e-224
Time:                        11:11:48   Log-Likelihood:                -385.95
No. Observations:                 569   AIC:                             777.9
Df Residuals:                     566   BIC:                             790.9
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -1.7115      0.097    -17.697      0.000      -1.901      -1.522
np.log(capital)     0.2076      0.017     12.077      0.000       0.174       0.241
np.log(labour)      0.7148      0.023     30.890      0.000       0.669       0.760
==============================================================================
Omnibus:                      259.475   Durbin-Watson:                   1.963
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2677.293
Skew:                           1.734   Prob(JB):                         0.00
Kurtosis:                      13.045   Cond. No.                         24.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [92]:
models.summary(alpha = 0.01).tables[1]

In [104]:
models.t_test('np.log(capital)=0.5')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.2076      0.017    -17.014      0.000       0.174       0.241
==============================================================================

In [106]:
beta_cap = 0.2076
ste_cap = 0.017
t_nabl = np.abs((beta_cap-0.5)/ste_cap)
t_nabl

17.2

In [108]:
n = len(df_lab)
alpha = 0.01
k = 3
t_crit = stats.t.ppf(1 - alpha/2, n - k)
round(t_crit, 3)

2.585

# Гипотеза
$$
H_0: \beta_{capital} = 0.5 \\
H_1: \beta_{capital} \neq 0.5 \\
$$

Вывод: $\beta_{capital}$ значительно отличается от 0,5 
# <span style = "color:red" > Вывод: $\beta_{capital}$ значительно отличается от 0,5

# 2.2 Задача (output equation 2)

# Гипотеза
$$
H_0: \beta_{labour} = 0.7 \\
H_1: \beta_{labour} \neq 0.7 \\
$$

In [116]:
models.summary(alpha = 0.1).tables[1]

In [117]:
models.t_test('np.log(labour)=0.7')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.7148      0.023      0.642      0.521       0.669       0.760
==============================================================================

In [120]:
beta_cap = 0.7148
ste_cap = 0.023
t_nabl = np.abs((beta_cap-0.7)/ste_cap)
t_nabl.round(2)

0.64

In [121]:
n = len(df_lab)
alpha = 0.1
k = 2
t_crit = stats.t.ppf(1 - alpha/2, n - k)
round(t_crit, 2)

1.65

In [123]:
if t_nabl > t_crit:
    print('Значимо')
else:
    print('Незначимо')

Незначимо

# <span style = "color:red" > Вывод: $\beta_{labour}$ незначительно отличается от 0,7

# 2.3 Задача (cost equation 1)

# Гипотеза
$$
H_0: \beta_{q} = 1 \\
H_1: \beta_{q} \neq 1 \\
$$

In [125]:
df_lab = pd.read_csv('https://github.com/artamonoff/Econometrica/raw/master/python-notebooks/data-csv/Electricity.csv')
df_lab

        cost        q        pl      sl      pk      sk      pf      sf
0     0.2130      8.0   6869.47  0.3291  64.945  0.4197  18.000  0.2512
1     3.0427    869.0   8372.96  0.1030  68.227  0.2913  21.067  0.6057
2     9.4059   1412.0   7960.90  0.0891  40.692  0.1567  41.530  0.7542
3     0.7606     65.0   8971.89  0.2802  41.243  0.1282  28.539  0.5916
4     2.2587    295.0   8218.40  0.1772  71.940  0.1623  39.200  0.6606
..       ...      ...       ...     ...     ...     ...     ...     ...
153   6.8293    946.6  10642.16  0.0883  43.600  0.1914  51.463  0.7203
154   3.7605    377.0   7432.24  0.2117  74.120  0.2274  33.436  0.5609
155   3.9822    391.0   5826.04  0.1926  78.288  0.0924  44.633  0.7151
156  30.1880   5317.0   9586.63  0.0845  78.008  0.2009  41.840  0.7147
157  67.8562  15220.0   6986.09  0.1451  74.025  0.2596  25.662  0.5945

[158 rows x 8 columns]

In [127]:
models = smf.ols(data=df_lab, formula = 'np.log(cost)~np.log(q)+np.log(pl)+np.log(pk)+np.log(pf)').fit()
models.summary(alpha = 0.05).tables[1]

In [129]:
models.t_test('np.log(q)=1')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.8381      0.009    -17.246      0.000       0.820       0.857
==============================================================================

In [131]:
beta_cap = 0.8381
ste_cap = 0.009
t_nabl = np.abs((beta_cap-1)/ste_cap)
t_nabl.round(2)

17.99

In [134]:
n = len(df_lab)
alpha = 0.05
k = 4
t_crit = stats.t.ppf(1 - alpha/2, n - k)
round(t_crit, 2)

1.98

In [135]:
if t_nabl > t_crit:
    print('Значимо')
else:
    print('Незначимо')

Значимо

# <span style = "color:cyan" > Вывод: $\beta_{q}$ значительно отличается от 1

# 2.4 Задача (cost equation 2)

# Гипотеза
$$
H_0: \beta_{pf} = 1 \\
H_1: \beta_{pf} \neq 1 \\
$$

In [136]:
models.summary(alpha = 0.1).tables[1]

In [137]:
models.t_test('np.log(pf)=1')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0             0.7131      0.064     -4.458      0.000       0.586       0.840
==============================================================================

In [139]:
hip = 1
beta_cap = 0.7131
ste_cap = 0.064
t_nabl = np.abs((beta_cap-hip)/ste_cap)
t_nabl.round(2)

4.48

In [140]:
n = len(df_lab)
alpha = 0.05
k = 4
t_crit = stats.t.ppf(1 - alpha/2, n - k)
round(t_crit, 2)

1.98

In [141]:
if t_nabl > t_crit:
    print('Значимо')
else:
    print('Незначимо')

Значимо

# <span style = "color:cyan" > Вывод: $\beta_{pf}$ значительно отличается от 1

# 2.5 Задача (sleep equation 1)

# Гипотеза
$$
H_0: \beta_{male} = 90 \\
H_1: \beta_{male} \neq 90 \\
$$

In [142]:
df_lab = pd.read_csv('https://github.com/artamonoff/Econometrica/raw/master/python-notebooks/data-csv/sleep75.csv')
df_lab

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [144]:
models = smf.ols(data=df_lab, formula = 'sleep~totwrk+age+south+male+smsa+yngkid+marr+union').fit()
models.summary(alpha = 0.01).tables[1]

In [146]:
models.t_test('male=90')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0            87.1081     35.173     -0.082      0.934      18.050     156.166
==============================================================================

In [147]:
hip = 90
beta_cap = 87.1081
ste_cap = 35.173
t_nabl = np.abs((beta_cap-hip)/ste_cap)
t_nabl.round(2)

0.08

In [148]:
n = len(df_lab)
alpha = 0.01
k = 8
t_crit = stats.t.ppf(1 - alpha/2, n - k)
round(t_crit, 2)

2.58

In [149]:
if t_nabl > t_crit:
    print('Значимо')
else:
    print('Незначимо')

Незначимо

# <span style = "color:purple" > Вывод: $\beta_{male}$ значительно отличается от 90

# 2.6 Задача (sleep equation 2)

# Гипотеза
$$
H_0: \beta_{south} = 100 \\
H_1: \beta_{south} \neq 100 \\
$$

In [150]:
models.summary(alpha = 0.01).tables[1]

In [151]:
models.t_test('south=100')

<class 'statsmodels.stats.contrast.ContrastResults'>
                             Test for Constraints
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
c0           102.2718     41.925      0.054      0.957      19.957     184.586
==============================================================================

In [152]:
hip = 100
beta_cap = 102.2718 
ste_cap = 41.925
t_nabl = np.abs((beta_cap-hip)/ste_cap)
t_nabl.round(2)

0.05

In [153]:
n = len(df_lab)
alpha = 0.01
k = 8
t_crit = stats.t.ppf(1 - alpha/2, n - k)
round(t_crit, 2)

2.58

In [154]:
if t_nabl > t_crit:
    print('Значимо')
else:
    print('Незначимо')

Незначимо

# <span style = "color:pink" > Вывод: $\beta_{male}$ значительно отличается от 90